@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
}

.form__label p {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #0f0f0f;
}

.form__btn {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #1e1e1e;
  background: #D3362A;
  border-radius: 6px;
}

.form__input {
  width: 100%;
  height: 20px;
  border-radius: 7px;
  margin-bottom: 20px;
  border-width: 1px;
}

.form__inputD {
  width: 100%;
  height: 150px;
  border-radius: 7px;
  margin-bottom: 20px;
  border-width: 1px;
}

.form h3 {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #0f0f0f;
}

.form h1 {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #0f0f0f;
}

header {
  background: #1E1E1E;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerlogo {
  width: 50%;
  margin-left: 50px;
}

.headerlogo img {
  width: 200px;
}

@media (max-width: 750PX) {
  .headerlogo img {
    width: 150px;
  }
}

.halfinfo {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 20%;
  margin-right: 20px;
}

@media (max-width: 750PX) {
  .halfinfo {
    margin-bottom: 10px;
    margin-right: 10px;
  }
}

.halfinfo__items {
  margin-left: 20px;
  text-align: right;
}

@media (max-width: 750PX) {
  .halfinfo__items {
    margin-left: 10px;
  }
}

.halfinfo__items h1 {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: white;
}

@media (max-width: 750PX) {
  .halfinfo__items h1 {
    font-size: 7px;
  }
}

.searchinput input {
  background: #D3362A;
  height: 40px;
  width: 200px;
  border-radius: 6px;
}

.cartbtn img {
  border-radius: 6px;
  width: 80px;
}

@media (max-width: 750PX) {
  .cartbtn img {
    width: 50px;
  }
}

.brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  background: #353535;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.brands h2 {
  margin-left: 60px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: white;
}

@media (max-width: 750PX) {
  .brands h2 {
    font-size: 10px;
    margin-left: 30px;
  }
}

.freeshipping {
  width: 100%;
  text-align: center;
}

.freeshipping h3 {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: white;
}

@media (max-width: 750PX) {
  .freeshipping h3 {
    font-size: 15px;
  }
}

.freeshipping h3 strong {
  color: #D3362A;
}

.product {
  width: 20%;
  padding: 45px;
}

@media (max-width: 750PX) {
  .product {
    padding: 20px;
  }
}

.product__img {
  width: 100%;
}

.product__info {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #0f0f0f;
}

@media (max-width: 750PX) {
  .product__info {
    font-size: 7px;
  }
}

.product__price {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #0f0f0f;
}

@media (max-width: 750PX) {
  .product__price {
    font-size: 7px;
  }
}

.productList, .productListFord {
  width: 100%;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.AddP {
  height: 25%;
  background-color: #D3362A;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  width: 100%;
  border-radius: 5px;
}

@media (max-width: 750PX) {
  .AddP {
    font-size: 7px;
  }
}

footer {
  background-color: #252525;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info {
  padding: 20px;
  width: 30%;
}

footer h3 {
  color: #D3362A;
  font-family: 'Roboto', sans-serif;
  font-size: 20;
}

@media (max-width: 750px) {
  footer h3 {
    font-size: 10px;
  }
}

footer p {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

@media (max-width: 600px) {
  footer p {
    font-size: 5px;
  }
}

.productshow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.imagen {
  width: 50%;
}

.imagen img {
  width: 80%;
}

.seleccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.checkOut {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #1e1e1e;
  background: #D3362A;
  border-radius: 6px;
  width: 20%;
  margin-bottom: 10px;
  margin-left: 60%;
}

.seleccion button {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #1e1e1e;
  border-radius: 6px;
  width: 40%;
  margin-bottom: 10px;
}

.addCart {
  background: #D3362A;
}

.Edit {
  background: #2a65d3;
}

.Delete {
  background: #D3362A;
}

.seleccion input {
  width: 5%;
  height: 20px;
  border-radius: 7px;
  margin-bottom: 20px;
  border-width: 1px;
}

.seleccion h2 {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #0f0f0f;
}

.productshow h4 {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #0f0f0f;
}

h5 {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #D3362A;
}

h6 {
  margin-top: 30px;
  margin-left: 30px;
  width: 50%;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #0f0f0f;
}

.hidden {
  display: none;
}

.productCar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-items: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  width: 80%;
}

@media (max-width: 750PX) {
  .productCar {
    margin-bottom: 10px;
  }
}

.productCar__img {
  width: 50%;
}

.productCar__info {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #0f0f0f;
}

@media (max-width: 750PX) {
  .productCar__info {
    font-size: 8px;
  }
}

.productCar__price {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #0f0f0f;
}

@media (max-width: 750PX) {
  .productCar__price {
    font-size: 8px;
  }
}

.carDelete {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #0f0f0f;
  height: 10%;
  border-radius: 10px;
}

@media (max-width: 750PX) {
  .carDelete {
    font-size: 8px;
  }
}

.carList {
  width: 100%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 750PX) {
  .carList {
    margin-top: 10px;
  }
}

.total {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #0f0f0f;
  text-align: right;
  margin-right: 20%;
}

@media (max-width: 750PX) {
  .total {
    font-size: 10px;
  }
}
/*# sourceMappingURL=main.css.map */